<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
        </layout>

        <filter class="org.apache.log4j.filter.ExpressionFilter">
            <param name="Expression" value="CLASS ~= 'org.littleshoot.proxy.impl.ProxyToServerConnection'" />
            <param name="AcceptOnMatch" value="false"/>
        </filter>
    </appender>

    <appender name="File" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="Append" value="true"/>
        <rollingPolicy name="file" class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="${user.dir}/logs/LOG_ParleyPro.%d{dd-MM-yyyy}.log" />
        </rollingPolicy>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
        </layout>
    </appender>

    <logger name="org.eclipse.jetty">
        <level value="off"/>
    </logger>
    <logger name="org.littleshoot.proxy.impl">
        <level value="off"/>
    </logger>
    <logger name="io.netty">
        <level value="off"/>
    </logger>
    <logger name="javax.net.ssl">
        <level value="off"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>
</log4j:configuration>